table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
  /* Estilos CSS para los botones */
.btn {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
  
.btn:hover {
    background-color: #45a049;
}